* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
body {
  height: 100vh;
  background: linear-gradient(to bottom, #d8737fd9 30%, #3b557a 70%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  width: 30vw;
  height: 90vh;
  background-color: #15173c;
  padding: 2vw;
  border-radius: 2vw;
  box-shadow: 0 20px 50px rgba(0, 5, 24, 0.5);
}
.display {
  width: 100%;
}
.display input {
  width: 100%;
  padding: 1vw;
  text-align: end;
  border: none;
  background-color: transparent;
  font-size: 3vw;
}
.display input::placeholder {
  color: #ffffff;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5vh;
  margin-top: 2vw;
}

.buttons input[type="button"] {
  font-size: 2.2vw;
  padding: 17px;
  border: none;
  background-color: transparent;
  color: #ffffffc3;
  cursor: pointer;
  border-radius: 25px;
}
.buttons input[type="button"]:hover {
  box-shadow: 0 8px 25px #000d2e;
}
input[type="button"]#equal {
  background-color: #d8737f;
  grid-row: span 2;
}

:root {
  --light: #d8dbe0;
  --dark: #28292c;
}

.toggle-switch {
  position: relative;
  width: 200px;
  top: 12%;
  left: 28%;
}

label {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
}

input[type="checkbox"] {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  transition: 0.3s;
}

input:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: inset 18px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

input:checked ~ .slider::before {
  transform: translateX(50px);
  background-color: var(--dark);
  box-shadow: none;
}
