div{
  height: 80px;
  width: 240px;
  border: 3px solid rgb(130, 126, 126);
  font-size: 70px;
  text-align: end;
  border-radius: 10px;
}
h2{
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
button{
  border: none;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: rgb(124, 121, 121);
  color: white;
  font-size: 30px;
  margin: 3px;
}
.calculas{
  background-color: rgb(236, 156, 6);
  font-size: 40px;
}