body{
  font-family: Arial, Helvetica, sans-serif;
}
.gaming, .music, .tech {
  border: none;
  border-radius: 2px;
  padding: 5px 9px;
  color: black;
  background-color: rgb(230,230,230);
  cursor: pointer;
}
.is-toggled{
  background-color: black;
  color: white;
}